<%= render 'shared/userstyle' %>
<div class="site-wrapper">
	<div class="site-wrapper-inner">
        <div class="cover-container">

          <div class="inner cover">
	
				<h2><%= image_tag('blocks.png', :width => 43, :height => 43, :style => "margin:0px").to_s %> Change your password</h2>
				<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put , class:"form-signin" }) do |f| %>
				  <%= devise_error_messages! %>
					<div><%= f.text_field :reset_password_token %></div>
				  	<div><%= f.password_field :password, :autofocus => true, :placeholder => "New password", :class => "form-control" %></div>
					<div><%= f.password_field :password, :autofocus => true, :placeholder => "Confirm new password", :class => "form-control" %></div>
					<br>
				  <%= f.submit "Change my password", class: "btn btn-large btn-primary", id: "submitbtn" %>
				<% end %>
				<br>
	        <p><%= render "devise/shared/links" %></p>
          </div>
        </div>
    </div>
</div>

